<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title></title>
  </head>
  <body>
    <h1>Doglist</h1>
    <h1>Add your Dog</h1>
    <form action="/pantry" method="post">
      <label for="dogName">Name</label>
      <br>
      <input id = "dogName" type="text" name="name">
      <br>
      <label for="dogAge">Address</label>
      <br>
      <input id = "dogAge" type="text" name="address">
      <br>
      <label for="dogImg">Image</label>
      <br>
      <input id = "dogImg" type="text" name="img">
      <br>
      <label for="dogDesc">website</label>
      <br>
      <input id = "dogImg" type="text" name="website">
      <br>
      <label for="dogDesc">wishlist</label>
      <br>
      <input id = "dogImg" type="text" name="wishlist">
      <br>
      <label for="dogDesc">starthr</label>
      <br>
      <input id = "dogImg" type="text" name="starthr">
      <br>
      <label for="dogDesc">endhr</label>
      <br>
      <input id = "dogImg" type="text" name="endhr">
      <br>
      <label for="dogDesc">fbname</label>
      <br>
      <input id = "dogImg" type="text" name="fbname">
      <br>
      <label for="dogDesc">fblink</label>
      <br>
      <input id = "dogImg" type="text" name="fblink">
      <br>
      <label for="dogDesc">phone</label>
      <br>
      <input id = "dogImg" type="text" name="phone">
      <br>
      <input type="submit" value="Add your Dog">
    </form>
  </body>
</html>
